@import "@/css/vars.sass"

.location-switcher
	border: 1px solid $beerus
	border-radius: 12px
	color: $trunks
	cursor: pointer
	display: flex
	align-items: center

	&.lightbox-open
		z-index: 100

	&.v-button-holder /deep/
		.v-button
			font-size: .9em
			padding: .25em .75em

			.fa
				font-size: 1.3em

			.info,
			.fa
				color: $trunks
				text-align: left

				& > *
					display: block

					&.location
						color: $popo
						margin: 0 0 2px