@import "@/css/vars.sass"

.exchange
	.list
		+resetList()
		display: flex
		flex-wrap: wrap
		gap: .7em
		font-size: .85em
		line-height: 1.7em
		margin: 0 0 1em

		li
			background: $beerus
			border-radius: 8px
			color: $backdrop
			padding: 0.2em .7em
			position: relative
			white-space: nowrap

			&.add
				display: flex
				position: relative
				padding: 0
				width: 100%

			.remove
				+transition(background-color)
				background-color: $dodoria
				border-radius: 50%
				color: $primary
				cursor: pointer
				font-size: 12px
				display: flex
				align-items: center
				justify-content: center
				padding: $r
				position: absolute
				top: 0
				right: -5px
				height: 14px
				width: 14px

				&:hover
					background-color: $dodoria-hover

			input
				background: none
				border: 0
				padding: $r / 2 30px $r / 2 5px
				outline: none
				overflow: hidden
				text-overflow: ellipsis
				width: 100%
				-webkit-appearance: none
				-moz-appearance: none
				appearance: none

				&::-webkit-inner-spin-button,
				&::-webkit-calendar-picker-indicator
					display: none
					opacity: 0

			.back,
			.insert
				background-color: $blue
				color: $gohan
				cursor: pointer
				display: flex
				align-items: center
				justify-content: center
				padding: $r
				height: 26px
				width: 26px
				+transition(background-color)

				&:hover
					background-color: $blue-hover

				&.disabled
					background-color: $gray
					cursor: default

			.back
				border-radius: 8px 0 0 8px

			.insert
				border-radius: 0 8px 8px 0
				position: absolute
				top: 0
				right: 0

	.toggle
		margin: 0 0 1.2em

	.v-button
		width: 100%