@import "@/css/vars.sass"

.exchange
	.list
		+resetList()
		display: flex
		flex-wrap: wrap
		gap: .7em
		font-size: .85em
		line-height: 1.7em
		margin: 0 0 1em

		li
			background: $beerus
			border-radius: 8px
			color: $backdrop
			padding: 0.2em .7em
			white-space: nowrap

	.toggle
		margin: 0 0 1.2em

	.v-button
		width: 100%