@import "@/css/vars.sass"
	
.v-dialog
	display: flex
	justify-content: center
	align-items: center
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 1020

	&:before
		background: $gohan
		content: ""
		opacity: 75%
		position: fixed
		height: 100%
		width: 100%
		z-index: 1020

	.content
		background: $gohan
		border: 1px solid $beerus
		border-radius: .7em
		display: flex
		flex-direction: column
		gap: 1em
		padding: 1em
		position: sticky
		max-width: 300px
		z-index: 1025

		main
			display: inline-flex
			gap: 1em
			align-items: center
			justify-content: center

			*
				color: $bulma
				
				&.color-default
					color: $dark

				&.color-info
					color: $blue

				&.color-success
					color: $roshi

				&.color-warn
					color: $hit

				&.color-error
					color: $dodoria

			.icon
				display: flex
				justify-content: center
				align-items: center
				font-size: 2em

			.text
				margin: 0
				filter: brightness(85%)
				inline-size: 225px
				overflow-wrap: break-word

		footer
			display: flex
			justify-content: flex-end
			gap: 1em