@import "@/css/vars.sass"

div[class^="barter-item-"]
	cursor: default
	display: inline-flex
	flex-direction: column
	font-size: 1em
	position: relative
	width: 100%

	/* View: Tile */
	picture
		cursor: pointer
		border-radius: 11px
		display: block
		margin: 0 0 .9em
		position: relative
		overflow: hidden
		height: 180px
		width: 100%
		+unselectable()

		img
			display: block
			object-fit: cover
			height: 100%
			width: 100%

		ul.slide
			display: flex
			justify-content: stretch
			height: 100%
			+resetList()

			li
				width: 100%

				&.hover
					img
						opacity: 1

				img
					position: absolute
					top: 0
					right: 0
					bottom: 0
					left: 0
					opacity: 0
					z-index: -2
					+transition(opacity)

		.bullets
			background: $overlay-half
			border-radius: 12px
			display: flex
			+resetList()
			padding: 2px 4px
			position: absolute
			right: 8px
			bottom: 8px

			li
				background: $background-gray-ghost
				border-radius: 50%
				margin: 2px
				overflow: hidden
				text-indent: -9999px
				height: 4px
				width: 4px

				&.hover
					background: $primary

	.state
		background: $goku
		border: 1px solid $primary
		border-radius: 6px
		color: $trunks
		padding: 2px 4px
		position: absolute
		top: $r
		right: $r
		z-index: 1
		+unselectable()

	.row:not(:last-child)
		margin: 0 0 .6em

	.pricing
		color: $popo
		display: flex
		align-items: center
		justify-content: space-between

		.price
			display: flex
			align-items: center

			.currency
				background-color: $blue-hover
				border-radius: 4px
				display: block
				margin: 0 $r 0 0
				padding: 2px
				overflow: hidden
				height: 1.15em
				width: 1.65em

				&.pkoin::after
					background: url("@/assets/images/pkoin.svg") no-repeat 50% 50%
					background-size: contain
					content: ""
					display: block
					height: 100%
					width: 100%

			font-weight: 700

	.favorite
		font-size: 1.2em
		padding: 0 4px 0 0
		
		i
			+transition(color)
			color: $gray
			cursor: pointer

			&:hover
				color: $bulma

	.title
		color: $popo
		font-weight: 700

	.to,
	.info
		font-size: .86em
		line-height: 1.2

	.to
		ul
			+resetList()
			color: $bulma
			overflow: hidden
			text-overflow: ellipsis
			width: 100%

			li
				display: inline
				white-space: nowrap

				&:not(:first-child):not(:last-child)
					&:after
						content: ", "

			a
				color: inherit
				text-decoration: none

				&:hover
					text-decoration: underline

	.info
		ul
			display: flex
			+resetList()

			li
				color: $trunks

				&:not(:first-child)
					margin: 0 0 0 $r

					&:before
						display: inline-block
						content: "\2022"
						margin: 0 $r 0 0

	/* View: Row */
	&.barter-item-row
		border-top: 1px solid $beerus
		display: flex
		flex-direction: row
		gap: 16px
		padding: 24px 0 0

		picture
			margin: 0
			flex-shrink: 0
			height: 137px
			width: 203px

		.row
			flex-direction: column
			align-items: flex-start
			justify-content: space-between
			margin: 0
			width: 100%

			&:last-child
				width: auto

		.title
			display: block
			margin: 0 0 .85em

		.to
			ul
				display: flex
				flex-wrap: wrap

				li
					white-space: pre

		.info
			white-space: nowrap
			width: 100%

			ul
				justify-content: flex-end

		.favorite
			text-align: right
			padding: 0
			width: 100%