@import "@/css/vars.sass"

.barter-item
	cursor: default
	display: inline-flex
	flex-direction: column
	font-size: 1em
	position: relative
	max-width: 274px

	picture
		cursor: pointer
		border-radius: 11px
		display: block
		margin: 0 0 .9em
		position: relative
		overflow: hidden
		height: 180px
		width: 274px
		+unselectable()

		img
			object-fit: cover
			vertical-align: top
			height: 100%
			width: 100%

		ul.slide
			display: flex
			justify-content: stretch
			height: 100%
			+resetList()

			li
				width: 100%

				&.hover
					img
						opacity: 1

				img
					position: absolute
					top: 0
					right: 0
					bottom: 0
					left: 0
					opacity: 0
					z-index: -1
					+transition(opacity)

		.bullets
			background: $overlay-half
			border-radius: 12px
			display: flex
			+resetList()
			padding: 2px 4px
			position: absolute
			right: 8px
			bottom: 8px

			li
				background: $background-gray-ghost
				border-radius: 50%
				margin: 2px
				overflow: hidden
				text-indent: -9999px
				height: 4px
				width: 4px

				&.hover
					background: $background-white

	.state
		background: $background-goku
		border: 1px solid $border-white
		border-radius: 6px
		color: $color-trunks
		padding: 2px 4px
		position: absolute
		top: $rhythm
		right: $rhythm
		z-index: 1
		+unselectable()

	.row:not(:last-child)
		margin: 0 0 .6em

	.pricing
		color: $color-black
		display: flex
		align-items: center
		justify-content: space-between

		.price
			display: flex
			align-items: center

			.currency
				background-color: $background-lightblue
				border-radius: 4px
				display: block
				margin: 0 $rhythm 0 0
				padding: 2px
				overflow: hidden
				height: 1.15em
				width: 1.65em

				&.pkoin::after
					background: url("@/assets/images/pkoin.svg") no-repeat 50% 50%
					background-size: contain
					content: ""
					display: block
					height: 100%
					width: 100%

			font-weight: 700

		.favorite
			color: $color-gray
			cursor: pointer
			font-size: 1.2em
			padding: 0 4px 0 0
			+transition(color)

			&:hover
				color: $color-bulma

	.title
		color: $color-black
		font-weight: 700

	.to,
	.info
		font-size: .86em
		line-height: 1.2

	.to
		color: $color-bulma
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		width: 100%

	.info
		ul
			display: flex
			+resetList()

			li
				color: $color-trunks

				&:not(:first-child)
					margin: 0 0 0 $rhythm

					&:before
						display: inline-block
						content: "\2022"
						margin: 0 $rhythm 0 0