@import "@/css/vars.sass"
	
.main-menu
	display: inline-flex
	font-size: 0.9em

	menu
		display: flex
		+resetList()

		menuitem
			a
				color: $trunks
				text-decoration: none

				&:hover
					text-decoration: underline

			&:not(:last-child)
				margin: 0 16px 0 0