@import "@/css/vars.sass"

.v-button-holder
	&.btn-categories
		position: static

		.overlay
			background: $overlay-visible
			position: fixed
			top: 0
			right: 0
			bottom: 0
			left: 0
			opacity: 0
			visibility: hidden
			z-index: -1
			+transition()

			&.active
				opacity: 1
				visibility: visible
				z-index: 100

		/deep/ .v-button
			font-size: 1em

			.v-dropdown-arrow
				display: none

			& ~ .v-button-dropdown
				border-radius: 0
				padding: 1em .75em
				right: auto
				left: 0
				width: $dropdown-width
				z-index: 200

				ul
					&.children-open
						> li.dropdown-open
							margin: 0

							> span.text
								margin: 0 0 .6em 0
								position: relative

								&.text-hidden
									display: none

								&:after
									background: $background-gray-default
									content: ""
									position: absolute
									bottom: -.6em
									right: 0
									left: 0
									height: 1px

							> span.text:not(.text-hidden) ~ ul
								padding: .6em 0 0
						
						> li:not(.dropdown-open)
							display: none

					li,
					li:hover
						background: unset
						color: unset
						display: block
						margin: 0
						padding: 0

						&:not(:last-child):not(.dropdown-open)
							margin-bottom: .6em

					span.text
						border-radius: 8px
						color: $button-color-bulma
						cursor: pointer
						display: flex
						align-items: center
						padding: .8em .75em
						width: 100%

						&:hover
							background: $background-gray-focus
							color: $button-primary

						span
							display: block
							// overflow: hidden
							// text-overflow: ellipsis
							// white-space: nowrap
							width: 100%

						i.fa
							text-align: center
							flex-shrink: 0
							margin: 0 1em 0 0
							width: 20px

							&:last-child
								margin: 0 0 0 auto
								padding: 0 0 0 $r * 2
								width: auto

				> ul
					margin: 0 -5px 0 0
					padding: 0 10px 0 5px
					max-width: $dropdown-width
					max-height: calc(100vh - 100px - 2em)
					+scrollbar(4px, y)