@import "@/css/vars.sass"

.delivery
	.v-switch-holder
		flex-direction: row
		align-items: flex-end
	
		.v-switch-input .image
			display: flex
			justify-content: center

			img
				max-width: 120px
				width: 100%

		.about
			display: flex
			align-items: center
			justify-content: center
			gap: $r
			position: relative
			z-index: 1