@import "@/css/vars.sass"
	
#aside
	&.safe-deal
		strong
			&.subtitle
				// margin: $r * 1.5 auto 
				// color: $bulma

				&:not(:first-child)
					margin-top: $r * 3

		.box
			margin-top: $r * 2

		.message,
		.update-status
			.v-button
				width: 100%

		.message
			margin-top: 2 * $r

		.update-status
			margin-top: 4 * $r

		.safe-deal-sep
			margin-top: $r * 2
			border-top: 1px solid $beerus