@import "@/css/vars.sass"
	
.v-input-holder
	border: 1px solid $beerus
	border-radius: 9px
	display: flex
	gap: 1px

	.v-input
		+transition(background-color)
		background-color: $goku
		padding: 2px
		width: 100%

		~ .v-input
			position: relative

			&:before
				background: $beerus
				content: ""
				position: absolute
				top: 0
				left: -1px
				height: 100%
				width: 1px

		&:focus-within
			background: none

		input
			+transition(outline-color)
			background: transparent
			border: 0
			font-size: 100%
			padding: 11px
			outline-color: $beerus
			width: 100%

			&:focus
				outline-color: $blue

		&.v-input-range
			display: flex
			align-items: center

			input
				-webkit-appearance: none
				appearance: none 
				cursor: pointer
				outline: none
				border-radius: 15px
				background: $beerus
				margin: 13px $r
				padding: 0
				height: 6px
				width: 100%

				&:focus
					outline-color: none
				
				&::-webkit-slider-thumb
					-webkit-appearance: none
					appearance: none 
					background-color: $piccolo
					border-radius: 50%
					border: none
					transition: .2s ease-in-out
					height: 15px
					width: 15px

				&::-moz-range-thumb
					background-color: $piccolo
					border-radius: 50%
					border: none
					transition: .2s ease-in-out
					height: 15px
					width: 15px

				&::-webkit-slider-thumb:hover
					box-shadow: 0 0 0 10px rgba($piccolo-hover, .1)

				&:active::-webkit-slider-thumb
					box-shadow: 0 0 0 13px rgba($piccolo-hover, .2)

				&:focus::-webkit-slider-thumb
					box-shadow: 0 0 0 13px rgba($piccolo-hover, .2)


				&::-moz-range-thumb:hover
					box-shadow: 0 0 0 10px rgba($piccolo-hover, .1)

				&:active::-moz-range-thumb
					box-shadow: 0 0 0 13px rgba($piccolo-hover, .2)

				&:focus::-moz-range-thumb
					box-shadow: 0 0 0 13px rgba($piccolo-hover, .2)

			.controls
				display: flex
				flex-direction: column

				button
					background: none
					border: 0
					color: $trunks
					padding: 0 $r
					transition: .2s ease-in-out

					&:hover
						color: $popo

	/* Size */
	&.v-input-xs
		border-radius: .25rem

		input
			font-size: .9em
			padding: .3em .3em

	&.v-input-sm,
	&.v-input-md
		border-radius: .5rem

		input
			font-size: 1em
			padding: .45em

	&.v-input-md
		border-radius: .75rem

		input
			padding: .55em

	&.v-input-lg,
	&.v-input-xl
		border-radius: 1rem

		input
			font-size: 1.2em
			padding: .7em

	&.v-input-xl
		input
			padding: 1em .7em

	.v-input
		&:first-child
			border-top-left-radius: inherit
			border-top-right-radius: 0
			border-bottom-right-radius: 0
			border-bottom-left-radius: inherit

			input
				border-radius: 6px 0 0 6px

				@at-root
					.v-input-sm#{&}
						border-radius: .3rem 0 0 .3rem

					.v-input-md#{&}
						border-radius: .6rem 0 0 .6rem

					.v-input-lg#{&},
					.v-input-xl#{&}
						border-radius: .85rem 0 0 .85rem

		&:last-child
			border-top-left-radius: 0
			border-top-right-radius: inherit
			border-bottom-right-radius: inherit
			border-bottom-left-radius: 0
			
			input
				border-radius: 0 6px 6px 0

				@at-root
					.v-input-sm#{&}
						border-radius: 0 .3rem .3rem 0

					.v-input-md#{&}
						border-radius: 0 .6rem .6rem 0

					.v-input-lg#{&},
					.v-input-xl#{&}
						border-radius: 0 .85rem .85rem 0

		&:first-child:last-child
			border-radius: inherit

			input
				border-radius: 6px

				@at-root
					.v-input-sm#{&}
						border-radius: .3rem

					.v-input-md#{&}
						border-radius: .6rem

					.v-input-lg#{&},
					.v-input-xl#{&}
						border-radius: .85rem