@import "@/css/vars.sass"

$item-width-max: 294px

.barter-carousel-holder
	.VueCarousel-slide
		display: flex
		justify-content: center

	.barter-item-tile
		max-width: $item-width-max

	.VueCarousel-dot
		background-color: $beerus !important

	.VueCarousel-dot--active
		background-color: $bulma !important

	.VueCarousel-navigation
		/*  VueCarousel-navigation--disabled */
		.VueCarousel-navigation-button
			+fontAwesome("")
			background: $primary
			border: 1px solid $beerus
			border-radius: 8px
			cursor: pointer
			display: flex
			align-items: center
			justify-content: center
			font-size: 0
			text-align: center
			padding: 8px
			opacity: .8
			outline: none
			top: 95px
			height: 36px
			width: 36px

			&:not([class*="--disabled"])
				&:hover
					&:before
						color: $blue

			&[class*="--disabled"]
				cursor: default

				&:before
					color: $trunks

			&:before
				+transition()
				color: $bulma
				font-size: 1.4rem

		.VueCarousel-navigation-prev
			&:before
				content: "\f104"

		.VueCarousel-navigation-next
			&:before
				content: "\f105"
				margin: 0 0 0 3px

.barter-list-holder
	.barter-track
		+resetList()
		display: grid
		grid-template-columns: repeat(auto-fit, $item-width-max)
		grid-template-rows: 1fr
		justify-content: flex-start
		grid-gap: 24px

.barter-list-row
	width: 100%

	li:first-child
		div[class^="barter-item"]
			border-top: 0
			padding: 0

	div[class^="barter-item"]
		width: 100%

	.barter-list-holder
		width: 100%

		ul.barter-track
			display: flex
			flex-direction: column
			width: 100%