@import "@/css/vars.sass"
	
#sidebar
	.exchange
		margin-top: $r * 2
		
		.after
			border-top: 1px solid $beerus
			display: flex
			margin: $r *2 0 0
			padding: $r *2 0 0
			align-items: center
			justify-content: space-between

			dl
				flex-wrap: nowrap
				grid-gap: 0
				margin: 0

				dt,
				dd
					color: $trunks
					margin: 0

				dd
					white-space: nowrap
					overflow: hidden
					text-overflow: ellipsis
					width: 100%

			.report
				color: $chi-chi
				display: flex
				gap: 8px
				align-items: center
				text-decoration: none
				white-space: nowrap