@import "@/css/vars.sass"
	
#sidebar
	.box > h1
		font-size: 19px
		margin: 0 0 16px
		text-transform: none
		font-weight: normal

	.price
		font-size: 20px
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: space-between
		margin: 0 0 $r / 2

		.col
			flex-basis: 100%
			gap: $r / 2
			margin: 0

		.amount
			display: block
			font-weight: normal
			overflow: hidden
			text-overflow: ellipsis

		.currency
			border-radius: 4px
			color: $blue-hover
			display: flex
			align-items: center
			justify-content: center
			overflow: hidden
			height: 1.05em
			width: 1.05em

			~ span + span
				color: $backdrop
				font-size: ($r / 2) * 3
				padding: $r

			&.pkoin::after
				background: url("@/assets/images/pkoin.svg") no-repeat 50% 50%
				background-size: contain
				content: ""
				display: block
				height: 100%
				width: 100%

			&.graphem-byn
				letter-spacing: -2px

		font-weight: 700

	.profile
		.info
			margin: 0 0 $r * 2

	.buttons
		width: 100%

		.v-button-holder:not(:last-child)
			margin: 0 0 .6em

		.v-button
			width: 100%

	.exchange
		.after
			border-top: 1px solid $beerus
			display: flex
			margin: $r *2 0 0
			padding: $r *2 0 0
			align-items: center
			justify-content: space-between

			dl
				flex-wrap: nowrap
				grid-gap: 0
				margin: 0

				dt,
				dd
					color: $trunks
					margin: 0

				dd
					white-space: nowrap
					overflow: hidden
					text-overflow: ellipsis
					width: 100%

			.report
				color: $chi-chi
				display: flex
				gap: 8px
				align-items: center
				text-decoration: none
				white-space: nowrap