@import "@/css/vars.sass"

.legal-info
	.legal-info-list
		+resetList()
		color: $piccolo

		li
			&:not(:last-child)
				margin-bottom: 12px

			.link
				color: $piccolo
				text-decoration: underline

				&:hover
					color: $piccolo-hover

				i
					margin-right: 8px

	&.color-type-dark
		.legal-info-list
			color: $popo

			li
				.link
					color: $popo

					&:hover
						color: $popo