@import "@/css/vars.sass"

.legal-info
	
	.legal-info-list
		+resetList()
		color: $popo

		li
			&:not(:last-child)
				margin-bottom: 12px

			.link
				color: $popo
				text-decoration: underline

				&:hover
					

				i
					margin-right: 8px