@import "@/css/vars.sass"

$item-width: 140px

.select-offer-dialog
	ul
		+resetList()
		display: grid
		grid-template-columns: repeat(auto-fill, minmax($item-width, 1fr))
		gap: 12px
		padding: 0
		margin: 0
		justify-content: center

		li
			border: 1px solid transparent
			border-radius: 12px
			position: relative
			width: 100%
			aspect-ratio: 1

			i.fa
				display: none

			img
				+unselectable()
				border-radius: 12px
				object-fit: cover
				height: 100%
				width: 100%

			&.selected
				border: 2px solid $piccolo

				i.fa
					background: $gohan
					border: 1px solid $gohan
					border-radius: 50%
					color: $piccolo
					display: block
					font-size: 20px
					position: absolute
					top: 6px
					right: 6px
					height: 20px
					width: 20px

					&::before
						position: relative
						top: -1px
						left: -1px


				img
					padding: 3px
