@import "@/css/vars.sass"

.v-form
	position: relative

	.v-label
		color: $backdrop
		display: block
		font-size: 1em
		margin: 0 0 1.75em
		
		&:not(:last-child)
			margin: 0 0 $r * 2

	fieldset
		border: 0
		margin: 0
		padding: 0

	.field
		border: 1px solid $beerus

		&.rejected
			border-color: $dodoria

	.popup
		display: flex
		justify-content: center
		align-items: flex-start
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0

		&:before
			background: $gohan
			content: ""
			opacity: 75%
			position: absolute
			height: 100%
			width: 100%
			z-index: 1000

		.content
			background: $gohan
			border: 1px solid $beerus
			border-radius: .7em
			display: inline-flex
			gap: 1em
			align-items: center
			justify-content: center
			padding: 1em
			position: sticky
			top: 50%
			transform: translateY(-50%)
			z-index: 1005

			.icon
				display: flex
				justify-content: center
				align-items: center
				font-size: 2em

			.text
				margin: 0