@import "@/css/vars.sass"
	
.photo-uploader
	+transition(color)
	background: none
	border: 1px dashed $trunks
	border-radius: 12px
	color: $backfrop
	cursor: pointer
	display: flex
	align-items: center
	justify-content: center
	margin: 0 0 $r * 3
	padding: 0
	position: relative
	min-height: 175px
	width: 100%

	&:hover
		color: $black

	input
		cursor: pointer
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		opacity: 0

	.text
		.fa
			display: block
			font-size: 1.5em
			margin: 0 0 8px

		*
			display: block