@import "@/css/vars.sass"

$duration: 0.15s

.categories-preview-slide
	margin: 10px 8px
	width: 120px
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: center
	gap: 20px

	.preview-item
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		gap: 8px
		font-size: 14px
		cursor: pointer

		.icon
			width: 90px
			height: 90px
			display: flex
			align-items: center
			justify-content: center
			overflow: hidden
			background: $background-gray-default
			border-radius: 50%
			
			&.item-type-back,
			&.item-type-select,
			&.item-type-offers,
				background: none

			.action
				font-size: 30px
				color: $bulma
				width: 100%
				height: 100%
				border-radius: 50%
				border: 2px solid $bulma
				display: flex
				align-items: center
				justify-content: center
				transition: font-size $duration ease-out

			.image
				object-fit: contain
				width: 75px
				height: 75px
				padding: 10px
				transition: transform $duration ease-out
		
		.title
			width: 100%
			height: 3.6em
			color: $popo
			opacity: 0.8
			font-size: 1em
			font-weight: 500
			line-height: 1.2em
			text-align: center
			overflow: hidden
			white-space: pre-wrap
			text-overflow: ellipsis

		&:hover
			.icon
				.action
					font-size: 34px

				.image
					transform: scale(1.13)

			.title
				text-decoration: underline
