@import "@/css/vars.sass"
@import "@/css/mobile.sass"

*
	box-sizing: border-box
	outline-color: $blue

html,
body
	font: 14px "Segoi UI", Verdana, Helvetica, sans-serif
	margin: 0
	overflow-x: hidden
	height: 100%

body
	padding-top: calc(var(--app-margin-top) + 65px)

strong.title
	display: flex
	font-size: 1.6em
	font-weight: normal
	margin: 0 0 $r * 3

a.link,
span.link
	color: $piccolo
	cursor: pointer
	text-decoration: none
	+transition(color)

	&:hover
		color: $piccolo-hover

#app
	display: flex
	flex-direction: column
	min-height: 100%
	
#main
	flex: 1
	margin: 0 auto $r * 10
	max-width: $width
	width: 100%

	#container
		display: flex
		justify-content: space-between

	.v-details ~ .v-details
		border-top: 1px solid $beerus
		margin-top: $r * 2.5
		padding-top: $r * 2.5

	.v-label
		color: $backdrop
		display: block
		font-size: 1em
		margin: 0 0 1.75em
		
		&:not(:last-child)
			margin: 0 0 $r * 2

.fa.icon
	color: $bulma

.fa-shrink
	margin-right: -.25em !important
	margin-left: -.25em !important

.full-width
	display: flex
	justify-content: space-between
	width: 100%

.buttons-holder
	display: flex
	gap: 10px
	justify-content: space-between

	&.center
		justify-content: center

		.v-button-holder
			width: auto

	&.f-w
		width: 100%

	&.h-w
		width: 50%

	.v-button-holder
		justify-content: center
		width: 100%

		.v-button
			width: 100%

.row
	display: flex
	align-items: flex-start

	&.wide
		width: 100%

	&[class*="sep"]
		border-bottom: 1px solid $beerus
		padding: 0 0 $r * 4

		&.t-sep
			border: 1px solid $beerus
			border-width: 1px 0 0
			padding: $r * 2 0 0

		&.d-sep
			border: 1px solid $beerus
			border-width: 1px 0
			padding: $r * 2 0

	.col
		display: flex
		align-items: center

	.right
		margin-left: auto

	p
		color: $trunks
		margin: 0

.row,
.col
	&:not(:last-child)
		margin: 0 0 $r * 3 0

	&.no-offset
		margin: 0

	&.block
		display: block

	&.center
		justify-content: center

	&.right
		justify-content: flex-end

	&.sided
		justify-content: space-between

	&.dir-column
		flex-direction: column

		&.center
			align-items: center

.label
	color: $popo
	cursor: default
	font-size: 1.15em

.box
	+resetList()
	border: 1px solid $beerus
	border-radius: 12px
	display: flex
	flex-direction: column
	margin: 0 0 $r
	padding: 12px

	&.transparent
		border-color: transparent

	strong.title
		color: $popo
		display: block
		font-size: .8em
		text-transform: uppercase

	.label
		color: $trunks
		display: block
		font-size: 1em
		font-weight: normal
		margin: 0 0 $r * 2