@import "@/css/vars.sass"

*
	box-sizing: border-box
	outline-color: $border-blue

html,
body
	font: 14px "Segoi UI", Verdana, Helvetica, sans-serif
	margin: 0
	overflow-x: hidden
	height: 100%

#app
	display: flex
	flex-direction: column
	min-height: 100%
	
#main
	flex: 1
	margin: 0 auto $r * 10
	max-width: $width
	width: 100%

	#container
		display: flex
		justify-content: space-between

	.row
		display: flex
		align-items: center

		&.sep
			border-bottom: 1px solid $border-beerus
			padding: 0 0 $r * 4
		
		&:not(:last-child)
			margin: 0 0 $r * 3 0

		&.block
			display: block

		.col
			display: flex
			align-items: center

		.right
			margin-left: auto

	.v-details ~ .v-details
		border-top: 1px solid $border-beerus
		margin-top: $r * 2.5
		padding-top: $r * 2.5

	strong.title
		display: flex
		font-size: 1.6em
		margin: 0 0 $r * 3

	.v-label
		color: $backfrop
		display: block
		font-size: 1em
		margin: 0 0 1.75em

	p
		color: $trunks
		margin: 0
		
		&:not(:last-child)
			margin: 0 0 $r * 2

.fa.icon
	color: $bulma

.full-width
	display: flex
	justify-content: space-between
	width: 100%

.buttons-holder
	display: flex
	gap: 10px
	justify-content: space-between

	&.f-w
		width: 100%

	&.h-w
		width: 50%

	.v-button-holder
		justify-content: center
		width: 100%

		.v-button
			width: 100%