@import "@/css/vars.sass"

*
	box-sizing: border-box

html,
body
	font: 14px/1 "Segoi UI", Verdana, Helvetica, sans-serif
	margin: 0
	height: 100%

#app
	display: flex
	flex-direction: column
	padding: 0 $offset
	overflow: hidden
	min-height: 100%
	
#main
	flex: 1