/* General */
#app
	padding-right: 50px
	min-width: 340px

	#header
		padding-top: calc(var(--app-margin-top) + 55px)

	#header,
	#main,
	#footer .footer-holder
		box-sizing: content-box
		padding-right: $r
		padding-left: $r
		max-width: $width

/* Tablet and Phones */
@media screen and (max-width: $tablet)
	#app
		padding-right: 0

		#header
			.bar
				.inner
					flex-wrap: wrap
					justify-content: space-between
					gap: $r

				.logo
					flex-basis: 50%

				.search-bar
					margin: 0

				.user-bar
					display: flex
					justify-content: flex-end
					width: 100%

		.v-lightbox section
			max-width: 100%

		.group-exchange-holder
			.row
				flex-direction: column
				gap: $r

				.col:first-child
					width: 90%

/* Phones */
@media screen and (max-width: $phones)
	#app
		.vs-carousel
			.vs-carousel__slide
				flex: 0 0 calc( 50% - 7px ) // Gap - 2px
				width: calc( 50% - 7px ) // Gap - 2px

			.vs-carousel__arrows
				display: none

/* Tablet */
@media screen and (min-width: $phones) and (max-width: $tablet)
	#app
		.vs-carousel
			.vs-carousel__slide
				flex: 0 0 calc( 33.33% - 7px ) // Gap - 2px
				width: calc( 33.33% - 7px ) // Gap - 2px

			.vs-carousel__arrows
				display: none