@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
	
$phones: 480px
$tablet: 767px
$width: 1248px
$sidebar-width: 260px
$r: .5em

/* Light theme */
#app
	--piccolo: rgb(0, 133, 207)
	--piccolo-hover: rgb(0, 164, 255)
	--ghost: rgb(31, 175, 255)
	--beerus: rgb(235, 235, 235)
	--beerus-hover: rgb(216, 216, 216)
	--goku: rgb(245, 245, 245)
	--gohan: rgb(255, 255, 255)
	--popo: rgb(0, 0, 0)
	--bulma: rgb(3, 71, 120)
	--bulma-hover: rgb(15, 82, 139)

/* Dark theme */
#app.dark
	--piccolo: rgb(0, 164, 255)
	--piccolo-hover: rgb(31, 175, 255)
	--ghost: rgb(12, 65, 94)
	--beerus: rgb(68, 68, 68)
	--beerus-hover: rgb(58, 58, 58)
	--goku: rgb(11, 11, 11)
	--gohan: rgb(31, 31, 31)
	--popo: rgb(255, 255, 255)
	--bulma: rgb(243, 244, 236)
	--bulma-hover: rgb(255, 255, 255)

$piccolo: var(--piccolo)
$piccolo-hover: var(--piccolo-hover)
$ghost: var(--ghost)
$beerus: var(--beerus)
$beerus-hover: var(--beerus-hover)
$goku: var(--goku)
$gohan: var(--gohan)
$bulma: var(--bulma)
$bulma-hover: var(--bulma-hover)
$popo: var(--popo)

$primary: $gohan
$blue: rgb(0, 133, 207)
$blue-hover: rgb(0, 164, 255)

$white: rgb(255, 255, 255)
$trunks: rgb(153, 156, 160)

$lightgray: rgb(199, 200, 217)
$gray: rgb(142, 144, 166)
$satgray: rgb(127, 127, 127)
$darkgray: rgba(0, 0, 0, 0.08)
$dark: rgb(10, 20, 47)
$black: rgb(18, 18, 18)
$backdrop: rgba(0, 0, 0, 0.56)

$hit: rgb(223, 124, 5)
$hit-hover: rgb(242, 135, 5)

$krillin: rgb(255, 179, 25)
$krillin-hover: rgb(255, 198, 82)
$krillin-lighten: rgb(255, 217, 141)

$chi-chi: rgb(255, 78, 100)
$chi-chi-hover: rgb(255, 118, 135)
$chi-chi-lighten: rgb(255, 150, 163)

$roshi: rgb(74, 209, 95)
$roshi-hover: rgb(100, 220, 119)
$roshi-lighten: rgb(127, 242, 145)

$cell: rgb(149, 241, 213)
$cell-hover: rgb(162, 250, 223)
$cell-lighten: rgb(191, 255, 236)

$raditz: rgb(179, 128, 74)
$raditz-hover: rgb(193, 145, 93)
$raditz-lighten: rgb(214, 169, 121)

$whis: rgb(52, 72, 240)
$whis-hover: rgb(103, 118, 248)
$whis-lighten: rgb(131, 144, 249)

$frieza: rgb(92, 51, 207)
$frieza-hover: rgb(115, 77, 222)
$frieza-lighten: rgb(146, 113, 239)

$nappa: rgb(114, 85, 80)
$nappa-hover: rgb(133, 106, 102)
$nappa-lighten: rgb(161, 134, 129)

$dodoria: rgb(211, 48, 48)
$dodoria-hover: rgb(219, 78, 78)
$dodoria-lighten: rgb(255, 150, 163)

$background-gray-default: linear-gradient(0deg, #EBEBEB, #EBEBEB), linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08))
$background-gray-focus: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), linear-gradient(0deg, #FFFFFF, #FFFFFF)
$background-gray-ghost: rgba(235, 235, 235, 0.18)

$overlay-hidden: rgba(0, 0, 0, 0)
$overlay-visible: rgba(0, 0, 0, 0.25)
$overlay-half: rgba(0, 0, 0, 0.5)
$overlay-dark: rgba(0, 0, 0, 0.75)

@mixin resetList()
	list-style: none
	margin: 0
	padding: 0

@mixin unselectable()
	user-drag: none
	-webkit-user-drag: none
	user-select: none
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none

@mixin transition($props: all, $duration: .3s, $timing: ease-in-out)
	transition: $props $duration $timing

@mixin scrollbar($size: 4px, $direction: y, $prop: overlay)
	@if $direction == y
		overflow-x: hidden
		overflow-y: $prop
	@else if $direction == x
		overflow-y: hidden
		overflow-x: $prop
	@else
		overflow: $prop

	&::-webkit-scrollbar
		height: $size
		width: $size

	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-thumb
		background: $background-gray-default
		border-radius: 10px

	&::-webkit-scrollbar-thumb
		background: $trunks

@mixin fontAwesome($icon)
	font-family: "Font Awesome 5 Free"
	font-weight: 900
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
	display: inline-block
	font-style: normal
	font-variant: normal
	text-rendering: auto
	line-height: 1
	
	@if $icon
		content: $icon