/* Main */
$width: 1328px
$r: .5em

/* LIGHT THEME */

/* Colors */
$black: rgba(0, 0, 0, 1)
$beerus: rgba(235, 235, 235, 1)
$gray: rgba(142, 144, 166, 1)
$trunks: rgba(153, 156, 160, 1)
$lightgray: rgba(199, 200, 217, 1)
$darkgray: rgba(0, 0, 0, 0.08)
$bulma: rgba(3, 71, 120, 1)
$blue: rgba(0, 164, 255, 1)
$lightblue: rgba(0, 133, 207, 1)
$primary: rgba(255, 255, 255, 1)
$goku: rgba(245, 245, 245, 1)

/* Backgrounds */
$background-beerus: $beerus
$background-gray-default: linear-gradient(0deg, #EBEBEB, #EBEBEB), linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08))
$background-gray-focus: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), linear-gradient(0deg, #FFFFFF, #FFFFFF)
$background-gray-ghost: rgba(235, 235, 235, 0.18)
$background-goku: $goku
$background-lightblue: $lightblue
$background-white: $primary

/* Overlay */
$overlay-hidden: rgba(0, 0, 0, 0)
$overlay-visible: rgba(0, 0, 0, 0.25)
$overlay-half: rgba(0, 0, 0, 0.5)

/* Scrollbar */
$scrollbar-track: $background-gray-default
$scrollbar-humb: rgba(153, 156, 160, 1)

/* Borders */
$border-beerus: $beerus
$border-white: $primary

/* Buttons */
$button-color-black: $black
$button-color-gray: $gray
$button-color-bulma: $bulma
$button-color-primary: $primary
$button-color-ghost: $button-color-black

$button-primary: $blue
$button-primary-hover: $lightblue

$button-ghost-hover: $darkgray

$button-stroke: $lightgray
$button-stroke-hover: $button-ghost-hover

/* Links */
$link-color-primary: $button-color-bulma
$link-color-primary-hover: $button-primary-hover

/* Lightbox */
$lightbox-primary: $button-color-primary
$lightbox-text-primary: $button-color-black
$lightbox-link-primary-color: $button-color-bulma
$lightbox-link-primary-hover: $button-ghost-hover

/* Mixins */
@mixin resetList()
	list-style: none
	margin: 0
	padding: 0

@mixin unselectable()
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

@mixin transition($props: all, $timing: .3s)
	transition: $props $timing ease-in-out

@mixin scrollbar($size: 4px, $direction: y)
	@if $direction == y
		overflow-x: hidden
		overflow-y: overlay
	@else if $direction == x
		overflow-y: hidden
		overflow-x: overlay
	@else
		overflow: overlay
	
	scrollbar-gutter: stable

	&::-webkit-scrollbar
		height: $size
		width: $size

	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-thumb
		background: $scrollbar-track
		border-radius: 10px

	&::-webkit-scrollbar-thumb
		background: $scrollbar-humb