@import "@/css/vars.sass"

.feedbacks
	header
		display: flex
		flex-wrap: wrap
		gap: $r
		color: $trunks
		font-size: 1.15em
		margin: 0 0 2*$r

		>
			*
			display: inline-flex

			h1
				color: $popo
				font-size: 1.5em
				margin: 0

			span
				flex-basis: 100%

		.rating
			font-size: 1.5em

	.v-form
		margin-bottom: 1em

		.field
			.counter
				right: 2em

		.buttons
			padding: .05em
			position: absolute
			right: 0
			bottom: 0

			button
				color: $gray
				padding: .45em

				&:hover
					color: $blue

	.votes
		+resetList()

		li
			border-top: 1px solid $beerus
			margin: 0 0 2*$r
			padding: 2*$r 0 0

			&:last-child
				margin-bottom: 0