@import "@/css/vars.sass"
	
.barter-list-settings
	justify-content: space-between

	.filter
		display: flex
		align-items: flex-start
		
		.v-button
			height: 40px
			border: 1px solid $beerus

			i.fa
				color: $bulma
			
			.title
				color: $popo

		.filter-enabled
			.v-button
				i.fa
					color: $white

				.title
					color: $white

	.orders-barters-view-group
		display: flex
		justify-content: flex-end
		align-items: flex-start
		gap: $r * 2
		
		.v-select
			height: 40px

.category-holder
	display: block
	padding: 0 .7em .7em

	.category-label
		color: $popo

	.top-category-link-holder
		margin-top: $r * 6

section
	> p
		display: flex
		flex-wrap: wrap
		align-items: center
		gap: $r
		margin: 0 0 $r * 2

.categories-loading-error-holder
	.error
		color: $dodoria

	.v-button
		height: 40px
