@import "@/css/vars.sass"
	
.category-holder
	display: block
	padding: 0 .7em .7em

	.category-label
		color: $popo

	.top-category-link-holder
		margin-top: $r * 6

section
	> p
		display: flex
		flex-wrap: wrap
		align-items: center
		gap: $r
		margin: 0 0 $r * 2
