@import "@/css/vars.sass"
	
.v-button-holder
	position: relative
	
	&.dropdown-open
		z-index: 10
	
	.v-button
		background: $blue
		border: 0
		border-radius: 10px
		color: $primary
		cursor: pointer
		display: inline-flex
		align-items: center
		justify-content: center
		padding: 0.45em 0.8em
		text-decoration: none
		white-space: nowrap
		height: 100%
		+transition()

		/* Primary hover state */
		@at-root .dropdown-open #{&},
		&:hover
			background: $blue-hover

		/* Types */
		&[class*="v-button-ghost"]
			background: none
			color: $popo

			&:hover
				background: $ghost

		&[class*="v-button-stroke"]
			background: transparent
			border: 1px solid $lightgray
			border-radius: 8px
			color: $popo

			&:hover
				background: $darkgray

		&[class*="v-button-hit"]
			background: $hit

			&:hover
				background: $hit-hover

		/* Colors */
		&[class*="bulma"]
			color: $bulma

			&:hover
				color: $bulma-hover

		&[class*="gray"]
			color: $gray

			&:hover
				color: $lightgray

		/* Align */
		&.v-button-right
			flex-direction: row-reverse

			span ~ i.fa
				margin: 0 $r * 2 0 0

			i.fa:not(.v-dropdown-arrow)
				margin: 0 0 0 $r * 2

			& ~ .v-button-dropdown
				right: 0

		/* Content */
		& > .link
			color: inherit
			display: flex
			text-decoration: none

		i.fa:not(.v-dropdown-arrow),
		& ~ .v-select-dropdown i.fa
			display: flex
			align-items: center
			justify-content: center
			margin: 0 $r * 2 0 0
			line-height: 100%

		span ~ i.fa
			margin: 0 0 0 $r * 2

		i.fa:first-child:last-child
			margin: 0

		.value
			display: flex
			align-items: center
			justify-content: flex-start

		& ~ .v-button-dropdown
			background: rgba(255, 255, 255, 1)
			border-radius: 12px
			box-shadow: 0 8px 24px -6px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.4)
			display: none
			margin: 4px 0 0
			padding: 4px
			position: absolute
			top: 100%

			ul
				border-radius: 12px
				+resetList()
				overflow: hidden
				width: 100%

				li
					border-radius: 4px
					color: $bulma
					cursor: pointer
					display: flex
					align-items: center
					justify-content: flex-start
					padding: .8em .75em
					+transition(color)

					& > *
						color: $bulma
						+transition(color)

					&:hover
						background: $background-gray-focus
						color: $blue

						& > *
							color: $blue
							+transition(color)

				i.fa
					margin: 0 $r * 2 0 0

				&:not(:last-child)
					margin: 0 0 .6em 0

		&.active
			& ~ .v-button-dropdown
				display: block

	/* Size */
	.v-button-xs
		border-radius: .25rem
		font-size: .9em
		padding: .4em .7em

		& ~ .v-button-dropdown,
		& ~ .v-button-dropdown ul
			border-radius: .25rem
			font-size: .9em

	.v-button-sm,
	.v-button-md
		border-radius: .5rem
		font-size: 1em

		& ~ .v-button-dropdown,
		& ~ .v-button-dropdown ul
			border-radius: .5rem
			font-size: 1em

	.v-button-md
		border-radius: .75rem
		padding: .75em 1em

		& ~ .v-button-dropdown,
		& ~ .v-button-dropdown ul
			border-radius: .75rem

	.v-button-lg,
	.v-button-xl
		border-radius: 1rem
		font-size: 1.2em
		padding: .85em 1.2em

		& ~ .v-button-dropdown,
		& ~ .v-button-dropdown ul
			border-radius: 1rem
			font-size: 1.2em

	.v-button-xl
		padding: 1.1em 1.6em