@import "@/css/vars.sass"
	
#aside
	.steps
		position: fixed
		width: $sidebar-width

		menuitem
			&.rejected
				color: $dodoria

			&.passed
				color: $roshi

		> *
			color: $beerus
			display: flex
			align-items: center

			i.fa
				display: flex
				justify-content: center
				height: 30px
				width: 30px

			i.fa,
			a
				padding: 8px

			a
				color: $bulma
				cursor: pointer
				display: flex
				text-decoration: none

				&:hover
					text-decoration: underline