@import "@/css/vars.sass"

.currency-switcher
	display: flex
	align-items: center
	justify-content: space-between
	gap: $r / 2
	margin: 0 0 -5px
	max-width: calc(#{$sidebar-width} - 26px)

	/deep/
		.amount,
		.v-button,
		.v-button-dropdown
			font-size: 12px !important

	/deep/ .v-button
		background: none !important
		padding: ($r / 2) * 3 $r

		.text
			gap: $r

	/deep/ .v-button-dropdown
		right: 0